[user]
	email = eiji.osakabe@crowdworks.co.jp
	name = eiji.osakabe
	password = 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
[core]
  excludesfile = /Users/eijiosakabe/.gitignore_global
[pull]
	rebase = false
[init]
	defaultBranch = main
[credential]
	helper = osxkeychain
